# Node.js
/backend/node_modules
/frontend/node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
/frontend/build
/backend/build

# Environment variables
.env

# Test coverage
/backend/coverage
/frontend/coverage
/backend/.nyc_output
/frontend/.nyc_output

# Test reports
/backend/test-report.xml
/frontend/test-report.xml
/backend/junit.xml
/frontend/junit.xml

# IDE specific files
.vscode
.idea
*.swp
*.swo